@using Archieves.Kutuphane.Models.Wrappers;
@using Archieves.Kutuphane.Models.Book;
@using Archieves.Kutuphane.Services.Abstractions;
@using Archieves.Kutuphane.Services.Concretes;
@using Archieves.Persistence.Contexts;
@using Archieves.Persistence.Repositories;
@using AutoMapper;
@model BookViewModel
@inject IAuthorService authorService;
@inject ICommentService commentService;
@{
    ViewData["Title"] = "BookDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <!-- Details -->
                <div class="blog-grid-top">
                    <div class="b-grid-top">
                        <div class="blog_info_left_grid">
                            <img src="@Model.Image" class="img-fluid" alt="Book Image" height="50px" style="display: block; margin-left: auto; margin-right: auto;" />
                        </div>
                        <div class="blog-info-middle">
                            <ul>
                                <li>
                                    <a href="~/Book/BookDetails/@Model.Id">
                                        <img src="~/images/calendar.svg" height="15px"> @Model.Date.ToString("dd/MM/yyyy")
                                    </a>
                                </li>
                                <li class="mx-2">
                                    @{
                                    }
                                    <a href="~/Book/BookDetails/@Model.Id">
                                        <img src="~/images/feather.svg" height="15px" /> @authorService.GetAuthorByIdAsync(Model.AuthorId).Result.Value.Name @authorService.GetAuthorByIdAsync(Model.AuthorId).Result.Value.Surname
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Book/BookDetails/@Model.Id">
                                        <!-- Çalışmıyor. -->
                                        <img src="~/images/comment.svg" height="15px" /> @commentService.GetAllCommentsByBookIdAsync(Model.Id).Result.Value.Count() Yorum
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3>
                        <p>@Model.Name</p> <!-- Çalışmıyor. -->
                    </h3>
                    <p style="text-align:justify;">@Model.Description</p> <!-- Çalışmıyor. -->
                </div>
                <!-- View Comments -->
                @await Component.InvokeAsync("CommentListByBook", new { id = Model.Id })
                <!-- Add Comments -->
                @{
                    ViewBag.BookId = Model.Id;
                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")
                }
            </div>
        </div>
    </div>
</section>