@model IEnumerable<Archieves.Domain.Entities.Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Kitaplar</h3>
        <div class="inner-sec">
            <!--left-->
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 card" name="mizite">
                            <a asp-controller="Book" asp-action="BookDetails" asp-route-id="@item.Id">
                                <img src=@item.Image class="card-img-top img-fluid fixed-size-image" alt="" style="width:350px; height:400px; object-fit:cover">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <p>
                                            <img src="~/images/calendar.svg" height="12px" /> @item.Date.ToString("dd/MM/yyyy")
                                        </p>
                                    </li>
                                </ul>
                                <h5 class="card-title">
                                    <a asp-controller="Book" asp-action="BookDetails" asp-route-id="@item.Id">@item.Name</a>
                                </h5>
                                <p class="card-text mb-3" style="text-align:justify;">@item.Description.Substring(0, item.Description.Substring(0, 105).LastIndexOf(" "))...</p>
                                <a asp-controller="Book" asp-action="BookDetails" asp-route-id="@item.Id" class="btn btn-primary read-m">Daha Fazla Oku...</a>
                            </div>
                        </div>
                    }
                </div>
                <!--//left-->
            </div>
        </div>
    </div>
</section>