@using Archieves.Kutuphane.Models.Message
@model List<MessageViewModel>
@{
    int counter = 0;
}
<style>
    #hoverTitle h6 {
        color: black;
        transition: color 0.3s;
    }

    #hoverTitle:hover h6 {
        color: red;
    }

    #noHoverLink {
        color: gray;
    }

        #noHoverLink:hover {
            color: gray;
            text-decoration: none;
        }
</style>
<li class="nav-item dropdown">
    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
        <img src="~/images/envelope.svg" height="15px" />
        <span class="count-symbol bg-warning"></span> <!-- Bildirim olup olmamasına göre sembolün varlığı ve yokluğu sorgulanacak. -->
    </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" style="min-width:270px;" aria-labelledby="messageDropdown">
        <h6 class="p-3 mb-0">Mesajlar</h6>
        @foreach (var item in Model.OrderByDescending(x => x.Id).DistinctBy(x => x.Sender).ToList())
        {
            counter++;
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" asp-controller="Archieves" asp-action="IndexMessage" asp-route-recieverId="@item.Receiver" asp-route-senderId="@item.Sender">
                <div class="preview-thumbnail">
                    <img src="~/admin/images/faces/face4.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center text-wrap" id="hoverTitle">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal text-justify">@item.SenderName @item.SenderSurname size mesaj gönderdi.</h6>
                    @{

                        DateTime dt = DateTime.Now;
                        var timeDifferenceInMinutes = Convert.ToInt32((dt - item.Date).Value.TotalMinutes);
                        var timeDifferenceInHours = Convert.ToInt32((dt - item.Date).Value.TotalHours);
                        var timeDifferenceInDays = Convert.ToInt32((dt - item.Date).Value.TotalDays);
                        var result = "";
                        if (timeDifferenceInMinutes >= 60)
                        {
                            result += $"{timeDifferenceInDays / 30} ay, ";
                            result += $"{timeDifferenceInDays % 30} gün, ";
                            result += $"{timeDifferenceInHours % 24} saat, ";
                            result += $"{timeDifferenceInMinutes % 60} dakika önce.";
                        }
                        else
                        {
                            result += $"{timeDifferenceInMinutes} dakika önce.";
                        }
                    }
                    <p class="text-gray mb-0">@result</p>
                    <p class="text-gray mb-0">@item.Subject</p>
                </div>
            </a>
            @if (counter >= 3)
            {
                break;
            }
        }
        <div class="text-center">
            <a class="p-3 mb-0 text-center" id="noHoverLink" asp-controller="" asp-action="">@Model.Count adet yeni mesajınız mevcut.</a>
        </div>
    </div>
</li>