@model KütüphaneOtomasyonu.Domain.Entities.User
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Hemen Kayıt Ol</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                {
                    <div class="form-row">
                        <!--/İsim-->
                        <div class="col-md-6 mb-3">
                            <label for="Name">İsim</label>
                            <input type="text" class="form-control" id="name" name="Name" placeholder="Buraya giriniz.">
                            <p style="text-align:justify; color:red;">@Html.ValidationMessageFor(x => x.Name)</p>
                        </div>
                        <!--//İsim-->
                        <!--/Soyisim-->
                        <div class="col-md-6 mb-3">
                            <label for="Surname">Soyisim</label>
                            <input type="text" class="form-control" id="surname" name="Surname" placeholder="Buraya giriniz.">
                            <p style="text-align:justify; color:red;">@Html.ValidationMessageFor(x => x.Surname)</p>
                        </div>
                        <!--//Soyisim-->
                    </div>
                    <div class="form-row" align>
                        <!--/Şifre-->
                        <div class="form-group col-md-6">
                            <label for="Password1">Şifre</label>
                            <input type="password" class="form-control" id="password1" name="Password" placeholder="Buraya giriniz.">
                            <p style="text-align:justify; color:red;">@Html.ValidationMessageFor(x => x.Password)</p>
                        </div>
                        <!--//Şifre-->
                        <!--/Doğum Tarihi-->
                        <div class="form-group col-md-6">
                            <label for="Date">Doğum Tarihi</label>
                            <input type="date" class="form-control" id="birthDate" name="Date" placeholder="Buraya giriniz.">
                            <p style="text-align:justify; color:red;">@Html.ValidationMessageFor(x => x.Date)</p>
                        </div>
                        <!--//Doğum Tarihi-->
                    </div>
                    <div class="form-row">
                        <!--/Telefon Numarası-->
                        <div class="form-group col-md-6">
                            <label for="Phone">Telefon Numarası</label>
                            <input type="tel" class="form-control" id="phone" name="Phone" placeholder="Buraya giriniz.">
                            <p style="text-align:justify; color:red;">@Html.ValidationMessageFor(x => x.Phone)</p>
                        </div>
                        <!--//Telefon Numarası-->
                        <!--/Email-->
                        <div class="form-group col-md-6">
                            <label for="Email">E - Posta Adresi</label>
                            <input type="email" class="form-control" id="email" name="Email" aria-describedby="emailHelp" placeholder="Buraya giriniz.">
                            <p style="text-align:justify; color:red;">@Html.ValidationMessageFor(x => x.Email)</p>
                        </div>
                        <!--//Email-->
                    </div>
                    <div class="form-row">
                        <!--/Adres-->
                        <div class="form-group col-md-6">
                            <label for="Address">Adres</label>
                            <input type="text" class="form-control" id="adres" name="Address" placeholder="Buraya giriniz.">
                            <p style="text-align:justify; color:red;">@Html.ValidationMessageFor(x => x.Address)</p>
                        </div>
                        <!--//Adres-->
                    </div>
                    @*
                <div class="form-row">
                <!--/Kullanıcı Fotoğrafı-->
                <div class="form-group col-md-6">
                <label for="Image">Kullanıcı Fotoğrafı</label>
                <input type="file" class="form-control" id="image" name="Image" accept="image/png, image/jpg, image/jpeg" placeholder="Buraya giriniz." required="">
                </div>
                @Html.ValidationMessageFor(x => x.Image)
                <!--//Kullanıcı Fotoğrafı-->
                </div>
                *@
                    <div align="center">
                        <button type="submit" onclick="warning" class="btn btn-primary submit mb-4">Kayıt Ol</button>
                        <p style="text-align:justify;">
                            <a href="#">Kayıt ol butonuna tıklayarak ya da öncesinde ilgili belgeyi inceleyip, onay vererek e - kütüphane kullanım koşullarını kabul etmiş olursunuz.</a>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
    <script>
        function warning() {
            swal({
                title: "DİKKAT",
                text: "Kayıt olarak e - kütüphane kullanım koşullarını kabul ediyorsunuz. Bilgilerinizi kimse ile paylaşmayacağımızı bilmenizi ister ve iyi okumalar dileriz.",
                confirmButtonText: "Onayla",
                confirmButtonColor: "#DD6B55",
                type: "warning"
            });
        }
    </script>
</section>
<!--//main-->