@using Archieves.Kutuphane.Models.Author;
@model AuthorViewModel
@{
    ViewData["Title"] = "AddAuthor";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="col-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("AddAuthor", "Archieves", FormMethod.Post))
            {
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="Name" style="color:black; float:left;">Yazarın İsmi</label>
                            <input class="form-control" type="text" id="Name" name="Name" placeholder="Buraya yazınız..." />
                            <p class="text-center" style="color:red;">@Html.ValidationMessageFor(x => x.Name)</p>
                        </div>
                        <div class="form-group">
                            <label for="Surname" style="color:black; float:left; margin-top:15px;">Yazarın Soyismi</label>
                            <input class="form-control" type="text" id="Surname" name="Surname" placeholder="Buraya yazınız..." />
                            <p class="text-center" style="color:red;">@Html.ValidationMessageFor(x => x.Surname)</p>
                        </div>
                        <div class="form-group">
                            <label for="Description" style="color:black; float:left; margin-top:15px;">Açıklama</label>
                            <textarea class="form-control" id="Description" name="Description" placeholder="Buraya yazınız..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="Date" style="color:black; float:left; margin-top:15px;">Yazarın Doğum Tarihi</label>
                            <input class="form-control" type="date" id="Date" name="Date" />
                            <p class="text-center" style="color:red;">@Html.ValidationMessageFor(x => x.Date)</p>
                        </div>
                        <!-- Hidden Informations -->
                        <div>
                            <input type="hidden" id="Status" name="Status" value="@true" />
                        </div>
                        <!-- Hidden Informations -->
                    </div>
                    <button class="btn-gradient-primary" type="submit" style="height: 50px;">+ Ekle</button>
                </div>
            }
            <p class="text-center" style="color:red;">@ViewBag.Author</p>
        </div>
    </div>
</div>