@using Archieves.Kutuphane.Models.Book;
@using Archieves.Kutuphane.Models.Author;
@using Archieves.Kutuphane.Services.Abstractions;
@model BookViewModel
@inject IArchievesService archievesService;
@{
    ViewData["Title"] = "AddBook";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var authorList = (await archievesService.GetAuthorsAsync()).Value;
}
<div class="col-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("AddBook", "Archieves", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="Name" style="color:black; float:left;">Kitap Adı</label>
                            <input class="form-control" type="text" id="Name" name="Name" placeholder="Buraya yazınız..." />
                            <p class="text-center" style="color:red;">@Html.ValidationMessageFor(x => x.Name)</p>
                        </div>
                        <div class="form-group">
                            <label for="Image" style="color:black; float:left; margin-top:15px;">Kitap Görseli</label>
                            <input class="form-control" type="file" id="Image" name="Image" accept=".jpeg .jpg .png" />
                            <p class="text-center" style="color:red;">@Html.ValidationMessage("Image")</p>
                        </div>
                        <div class="form-group">
                            <label for="Description" style="color:black; float:left; margin-top:15px;">Açıklama</label>
                            <textarea class="form-control" id="Description" name="Description" placeholder="Buraya yazınız..."></textarea>
                            <p class="text-center" style="color:red;">@Html.ValidationMessageFor(x => x.Description)</p>
                        </div>
                        <div class="form-group">
                            <label for="AuthorId" style="color:black; float:left; margin-top:15px;">Yazar</label>
                            <select class="form-control" id="AuthorId" name="AuthorId">
                                <option></option>
                                @foreach (var item in authorList)
                                {
                                    <option value="@item.Id">@item.Name @item.Surname</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Date" style="color:black; float:left; margin-top:15px;">Kitap Yayınlanma / Çıkma Tarihi</label>
                            <input class="form-control" type="date" id="Date" name="Date" />
                            <p class="text-center" style="color:red;">@Html.ValidationMessageFor(x => x.Date)</p>
                        </div>
                        <p style="color:red;">@ViewBag.AddBookMessage</p>
                    </div>
                    <button class="btn-gradient-primary" type="submit" style="height: 50px;">+ Ekle</button>
                </div>
            }
            <p class="text-center" style="color:red;">@ViewBag.IsBookExists</p>
            <p class="text-center" style="color:black;">
                Eğer aradığınız yazar listede bulunmuyorsa <a asp-controller="Archieves" asp-action="AddAuthor">buraya</a> tıklayarak yeni bir yazar ekleyebilir,
                ardından kitap ekleme işlemlerinize devam edebilirsiniz.
            </p>
        </div>
    </div>
</div>