@using Archieves.Kutuphane.Models.Book;
@using Archieves.Kutuphane.Models.Comment;
@using Archieves.Kutuphane.Services.Abstractions;
@using AutoMapper;
@model BookViewModel
@inject IArchievesService archievesService;
@{
    ViewData["Title"] = "IndexBookDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var control = (await archievesService.GetCommentsAsync()) == null ? false : true;
    List<CommentViewModel> comment;
    if (!control)
        comment = (await archievesService.GetCommentsAsync()).Value;
    else
        comment = new List<CommentViewModel>();
}
<div class="container">
    <div class="row">
        <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
            <!-- Details -->
            <div class="blog-grid-top">
                <div class="b-grid-top">
                    <div class="blog_info_left_grid">
                        <img src="@Model.Image" class="img-fluid" alt="Book Image" height="50" style="display: block; margin-left: auto; margin-right: auto;" />
                    </div>
                    <div class="blog-info-middle">
                        <ul>
                            <li>
                                <a href="~/Book/BookDetails/@Model.Id">
                                    <img src="~/images/calendar.svg" height="15px"> @Model.Date.Value.ToString("dd/MM/yyyy")
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="~/Book/BookDetails/@Model.Id">
                                    <img src="~/images/feather.svg" height="15px" /> @Model.AuthorName @Model.AuthorSurname
                                </a>
                            </li>
                            <li>
                                <a href="~/Book/BookDetails/@Model.Id">
                                    <img src="~/images/comment.svg" height="15px" /> @(comment != null ? comment.Count : 0) Yorum
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h3>@Model.Name</h3>
                <p style="text-align:justify;">@Model.Description</p>
            </div>
            @await Component.InvokeAsync("CommentListByBook", new { id = Model.Id })
            @{
                ViewBag.BookId = Model.Id;
                @await Html.PartialAsync("~/Views/Archieves/PartialAddComment.cshtml")
            }
        </div>
    </div>
</div>