@using Archieves.Kutuphane.Models.User;
@model UserViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="col-md-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Üyelik Bilgileri</h4>
            @using (Html.BeginForm("Profile", "User", FormMethod.Post))
            {
                <div class="form-group row">
                    <label for="Name" class="col-sm-3 col-form-label">İsim</label>
                    <div class="col-sm-9 text-center">
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Surname" class="col-sm-3 col-form-label">Soyisim</label>
                    <div class="col-sm-9 text-center">
                        <input type="text" class="form-control" id="Surname" name="Surname" value="@Model.Surname" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Email" class="col-sm-3 col-form-label">E - Posta</label>
                    <div class="col-sm-9 text-center">
                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Password" class="col-sm-3 col-form-label">Şifre</label>
                    <div class="col-sm-9 text-center">
                        <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Phone" class="col-sm-3 col-form-label">Telefon Numarası</label>
                    <div class="col-sm-9 text-center">
                        <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Address" class="col-sm-3 col-form-label">Adres</label>
                    <div class="col-sm-9 text-center">
                        <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Image" class="col-sm-3 col-form-label">Fotoğraf</label>
                    <div class="col-sm-9 text-center">
                        <input type="file" class="form-control" id="Image" name="Image" value="@Model.Image" value="@Model.Image" disabled />
                        Sisteme fotoğraf yükleme fonksiyonu henüz çalışmamaktadır. Bu sorun en kısa sürede düzeltilecektir.
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Date" class="col-sm-3 col-form-label">Doğum Tarihi</label>
                    <div class="col-sm-9 text-center">
                        <input class="text-center" placeholder="@Model.Date.Value.ToString("dd MMMM yyyy")" readonly />
                        <input type="date" class="form-control" id="Date" name="Date" value="@Model.Date" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9 text-center">
                        <input id="Status" name="Status" value="true" type="hidden" />
                        <input id="Id" name="Id" value="@Model.Id" type="hidden" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <a class="btn btn-light" asp-controller="User" asp-action="Profile">İptal Et</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <a class="btn btn-danger" asp-controller="User" asp-action="DeleteUser">Hesabımı Sil!</a>
                    </div>
                </div>
            }
            <br />
            <p class="text-justify">
                Profil güncelleme işlemleri eğer başarıyla tamamlanırsa, hesabınızdan otomatik olarak çıkartılıp, giriş sayfasına yönlendirileceksiniz.
                Bu problem henüz sayfamız geliştiricileri tarafından çözüme kavuşturulmamıştır.
                Yakın sürede bu problemi de çözüme kavuşturacak ve hizmetinize sunacağız.
                <br />
                <br />
                Anlayışınız için teşekkürler,
                <br />
                İyi günler,
                <br />
                Furkan TURAL.
            </p>
        </div>
    </div>
</div>